---
import MainLayout from "@/layouts/MainLayout.astro";
import PostHeader from "@/components/PostHeader.astro";
import PostHeaderBox from "@/components/PostHeaderBox.astro";
import PostBody from "@/components/PostBody.astro";
import PostFooter from "@/components/PostFooter.astro";
import { siteConfig } from "@/config";
import { getBanner } from "@/lib/bannerHelper";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("/src/posts/**/*.md");
  return allPosts.map((post, index) => {
    return {
      params: { post: post.frontmatter.slug },
      props: {
        post,
        prevPost: allPosts[index - 1],
        nextPost: allPosts[index + 1],
      },
    };
  });
}

const bannerImage = await getBanner(Astro.url.pathname);
const { post, prevPost, nextPost } = Astro.props;
const { Content } = post;
const postMainTag = post.frontmatter.tags?.[0];
---

<MainLayout title="">
  <link rel="preload" href={bannerImage?.src} as="image" slot="head"/>
  <PostHeader bannerImage={bannerImage}>
    <PostHeaderBox
      postTitle={post.frontmatter.title}
      postMainTag={postMainTag}
      postUpdateAt={post.frontmatter.createAt}
      author={siteConfig.author}
      avatarUrl="/favicon.svg"
    />
  </PostHeader>
  <article>
    <div class="content">
      <PostBody>
        <Content />
      </PostBody>
      <PostFooter
        tags={post.frontmatter.tags}
        prevPost={prevPost}
        nextPost={nextPost}
      />
    </div>
  </article>
</MainLayout>
