---
import PostBox from "@/components/PostBox.astro";
import PaginationBox from "@/components/PaginationBox.astro";

const {
  posts,
  currentPage,
  lastPage,
  firstPageURL,
  prevUrl,
  nextUrl,
  extraPagination = false,
} = Astro.props;
---

<main>
  {
    extraPagination && (
      <div class="content">
        <PaginationBox
          currentPage={currentPage}
          lastPage={lastPage}
          firstPageURL={firstPageURL}
          prevURL={prevUrl}
          nextURL={nextUrl}
          extraPagination={true}
        />
      </div>
    )
  }
  <article>
    <div class="content">
      {
        posts.map((post) => (
          <PostBox
            href={"/" + (post.frontmatter.slug || "404")}
            title={post.frontmatter.title}
            author="Katsuobushi"
            authorHref="author/katsuobushi/index.html"
            mainTag={post.frontmatter.tags?.[0]}
            mainTagHref={"tags/" + post.frontmatter.tags?.[0]}
            createAt={post.frontmatter.createAt}
            abstract={post.frontmatter.abstract}
          />
        ))
      }
    </div>
  </article>
  <div class="content">
    <PaginationBox
      currentPage={currentPage}
      lastPage={lastPage}
      firstPageURL={firstPageURL}
      prevURL={prevUrl}
      nextURL={nextUrl}
      extraPagination={false}
    />
  </div>
</main>
