---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";

dayjs.extend(utc);
dayjs.extend(timezone);

interface Props {
  href: string;
  title: string;
  author: string;
  authorHref: string;
  mainTag: string;
  mainTagHref: string;
  createAt: string;
  abstract: string;
}

const {
  href,
  title,
  author,
  authorHref,
  mainTag,
  mainTagHref,
  createAt,
  abstract,
} = Astro.props;
---

<div class="post-box">
  <h2 class="post-title">
    <a href={href}>{title}</a>
  </h2>
  <span class="post-metadata">
    By
    <a href={authorHref}>{author}</a>
    {mainTag && "in"}
    {mainTag && <a href={mainTagHref}>{mainTag}</a>}
    {createAt && "on"}
    {createAt && <span>{dayjs(createAt).tz("Asia/Taipei").format()}</span>}
  </span>
  {abstract && <p class="post-abstract">{abstract}</p>}
</div>

<style>
  .post-box {
    padding: calc(2.5rem + 2vw) 0;
    border-bottom: 1px solid var(--color-background-contrast);
  }
  .post-title {
    position: relative;
    margin: 0 0 1rem;
    font-size: 2.2rem;
    font-weight: 700;
    text-indent: -1px;
    color: var(--color-content-lead);
  }
  .post-title a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
  }
  .post-metadata {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--color-content-secondary);
  }
  .post-metadata a {
    text-decoration: none;
    color: inherit;
  }
  .post-abstract {
    margin: 1rem 0 0;
    font-size: 1.1rem;
    line-height: 2rem;
    font-family: "Libre Baskerville";
  }
</style>
