---
import MainLayout from '@/layouts/MainLayout.astro';
import MainHeader from '@/components/MainHeader.astro';
import MainBody from '@/components/MainBody.astro';
import { siteConfig } from "@/config";
import PaginationBox from '../../components/PaginationBox.astro';
import PostBox from '../../components/PostBox.astro';

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('../posts/*.md*');
  const orderByCreateDateTimeDescPosts = allPosts.sort((a, b) => 
    new Date(a.frontmatter.create).valueOf() - new Date(b.frontmatter.create).valueOf()
  ).reverse();
  return paginate(orderByCreateDateTimeDescPosts, { pageSize: 8 });
}
const { page } = Astro.props;

---
<!-- <PaginationBox 
currentPage={page.currentPage} 
lastPage={page.lastPage}
prevURL={page.url.prev}
nextURL={page.url.next}
/>
<div>
  {
    page.data.map(((post)=>
      <PostBox
        href={post.url}
        title={post.frontmatter.title}
        author="Katsuobushi"
        authorHref="author/Katsuobushi"
        mainTag={post.frontmatter.tags[0]}
        mainTagHref="https://vincent87720.github.io/tag/solid/index.html"
        createAt={post.frontmatter.create}
        body={post.frontmatter.abstract}
      />
    ))
  }
</div> -->

<MainLayout title="首頁">
	<MainHeader title={siteConfig.title} description={siteConfig.description}></MainHeader>
	<MainBody posts={page.data} currentPage={page.currentPage} lastPage={page.lastPage} prevUrl={page.url.prev} nextUrl={page.url.next}>
	</MainBody>
</MainLayout>